.jumbotron {
    text-align: center !important;
    width: fit-content !important;
    height: fit-content !important;
    align-self: center !important;
    justify-self: center !important;
    padding: 2rem 5rem !important;
}

h2 {
    margin-bottom: 2rem;
}